body{
    background-color: black;
    color: chartreuse;
}


#ball{
    border-radius: 100%;
    background-color: red;
    width: 100px;
    height: 100px;
    position: relative;
}

#wrapper{
    border: 3px solid lightblue;
    padding: 20px;
    margin-top: 40vh;
}

.text-center{
    text-align: center;
}